.listWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.listHeader {
  min-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.listHeader button {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #6d28d9;
  color: #fff;
  border: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 20rem;
  padding: 4px;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item button {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #dc2626;
  border: 1px solid #dc2626;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list img {
  width: 20px;
  height: 20px;
}

.list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
}
